---
import Layout from "../layouts/Layout.astro";
import LinkShortener from "../components/LinkShortener.astro";
---

<Layout title="~ URL Shortener App ~">
  <main class="max-w-[60ch] p-6 m-auto">
    <h1
      class="text-2xl lg:text-3xl font-bold pb-2 border-b-4 border-gray-200 m-0"
    >
      Link <span class="text-gradient">Shortener Generator</span>
    </h1>
    <p class="description">
      Link Shortener using <code>bit.ly</code>, visit my <a
        href="https://github.com/MochIsrin068/astro-url-shortener"
        class="italic underline"
        target="_blank">repository</a
      > if you want to running on your local machine, visit <a
        href=" https://app.bitly.com/settings/api"
        target="_blank"
        class="italic underline"
      >
        bit.ly api setting</a
      >
      to get acces token.
    </p>
    <LinkShortener />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .description {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .description code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .description a {
    color: rgb(var(--accent));
  }
</style>
