---
import Layout from "../layouts/Layout.astro";
import LinkShortener from "../components/LinkShortener.astro";
---

<Layout title="My App">
  <main class="max-w-[60ch] p-6 m-auto">
    <h1
      class="text-2xl lg:text-3xl font-bold pb-2 border-b-4 border-gray-200 m-0"
    >
      Link <span class="text-gradient">Shortener</span>
    </h1>
    <LinkShortener />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .description {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .description code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .description a {
    color: rgb(var(--accent));
  }
</style>
